{% load static %} <!-- Add this line at the top of the template -->
<style>

.img-thumbnail {
    margin: 10px; /* Adjust the margin as needed for spacing */
    left: -20px;
}

</style>
    <div class="container">
    <div class="row">
        <h2 style="font-family: Arial, sans-serif; color:#142b58" class="lol2">Freund*innen:</h2>
    </div>

    <div class="row">
        {% for friend in friends %}
            <div class="col-4"> <!-- Use col-4 to display three profiles per row -->

                    {% if friend.sender.id != viewed_user_id %}
                        <a href="/user/{{ friend.sender.id }}">
                        {% if friend.sender.profile_picture %}
                            <img src="/media/{{ friend.sender.profile_picture }}" class="img-thumbnail" alt="{{ friend.sender.anzeigename }}">
                        {% else %}
                            <img src="/media/profile_pictures/None/default.png" class="img-thumbnail" alt="{{ friend.sender.anzeigename }}">
                        {% endif %}
                    {% else %}
                        {% if friend.receiver.profile_picture %}
                            <a href="/user/{{ friend.receiver.id }}">
                            <img src="/media/{{ friend.receiver.profile_picture }}" class="img-thumbnail" alt="{{ friend.receiver.anzeigename }}">
                        {% else %}
                            <img src="/media/profile_pictures/None/default.png" class="img-thumbnail" alt="{{ friend.receiver.anzeigename }}">
                        {% endif %}
                    {% endif %}
                </a>
            </div>

            {% if forloop.counter|divisibleby:3 %} <!-- Check if the current iteration is a multiple of 3 -->
                </div><div class="row"> <!-- Close the current row and start a new one -->
            {% endif %}
        {% endfor %}
    </div>
</div>


