{% load static %} <!-- Add this line at the top of the template -->
<style>

.img-thumbnail {
    margin: 10px; /* Adjust the margin as needed for spacing */
    left: -20px;
}

</style>
    <div class="container">
    <div class="row">
        <h2 style="font-family: Arial, sans-serif; color:#142b58" class="lol2">Freund*innen:</h2>
    </div>

    <div class="row">
        {% for friend in friends %}
            <div class="col-4"> <!-- Use col-4 to display three profiles per row -->
                <a href="/user/{{ friend.receiver.id }}">
                    {% if friend.receiver.profile_picture %}
                        <img src="{{ friend.receiver.profile_picture.url }}" class="img-thumbnail" alt="{{ friend.receiver.username }}">
                    {% else %}
                        <img src="{% static 'U1.jpg' %}" class="img-thumbnail" alt="{{ friend.receiver.username }}">
                    {% endif %}
                </a>
            </div>

            {% if forloop.counter|divisibleby:3 %} <!-- Check if the current iteration is a multiple of 3 -->
                </div><div class="row"> <!-- Close the current row and start a new one -->
            {% endif %}
        {% endfor %}
    </div>
</div>


