<!-- notifications.html -->
<ul class="list-group">
    {% for notification in unread_notifications %}
        <li class="list-group-item" id="notification-{{ notification.id }}">
            {% if notification.notification_type == 'friend_request' %}
                <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-0">{{ notification.sender.username }} sent you a friend request.</p>
                    <button class="btn btn-primary" onclick="acceptFriendRequest({{ notification.id }})">Accept</button>
                </div>
            {% elif notification.notification_type == 'friend_request_accepted' %}
                <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-0">{{ notification.sender.username }} has accepted your request.</p>
                    <button class="btn btn-success" onclick="markNotificationRead({{ notification.id }})">OK</button>
                </div>
            {% endif %}
        </li>
    {% empty %}
        <li class="list-group-item">
            <p>No unread notifications.</p>
        </li>
    {% endfor %}
</ul>


<script>

    function markNotificationRead(notificationId) {
                // Send an AJAX request to the server to mark the notification as read
        fetch(`/user/mark_notification_read/${notificationId}/`)
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Remove the notification from the UI or update its styling
                    const notificationElement = document.getElementById(`notification-${notificationId}`);
                    if (notificationElement) {
                        notificationElement.remove();
                    }
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });

    }


function acceptFriendRequest(notificationId) {
    // Use AJAX to send a request to the server to accept the friend request
    fetch(`/user/accept_friend_request/${notificationId}/`)
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Update the UI (e.g., hide the notification)
                const notificationElement = document.getElementById(`notification-${notificationId}`);
                if (notificationElement) {
                    notificationElement.remove();
                }
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
}


</script>