{% extends "header.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Splash Screen</title>
    <!-- Add your CSS stylesheets or links to your CSS framework here -->
</head>
<body>
    <div class="container text-center">
        <h1>Wilkommen bei Alpakabook!</h1>
        <p>🦙🦙🦙🦙🦙🦙🦙🦙🦙🦙🦙🦙🦙🦙🦙🦙🦙🦙🦙🦙🦙🦙</p>
        <div class="mt-3">
            <a href="/login" class="btn btn-primary mr-3">Einloggen</a>
            <a href="/signup" class="btn btn-secondary">Account erstellen</a>
        </div>
    </div>
</body>
</html>

{% endblock content %}